body{
    background-color: rgba(4, 4, 71, 0.795);
}

/*heading*/
.blue{
    background-color: rgb(75, 75, 216);
    height: 135px;
    width: 97.5%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;


}
#head{
    width: 80%;
    height: auto;
    float: left;
}
#pic{
    width: 20%;
    height: 101px;
    float: left;
}

h1{
    font-size: 60px;
    margin-left: 50%;
    margin-top: auto;
}

.blue > div > img{
    width: 80px;
    border-radius: 48.5%;
    float: right;
}
nav{
    background-color: cornflowerblue;
    width: 125%;
    display: flex;
    border-radius: 4px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 24px;
    flex: 1;
    text-align: center; 
    color: black;  
}
a:hover{
    color: rgb(204, 11, 162);
}

/*Main Story*/

main{
    background-color: cornflowerblue;
    width: 60%;
    margin: 20px 20px;
    border-radius: 8px;
    float: left;

}
section > main > img{
    width: 75%;
    height: auto;
    margin: 20px 100px;
    margin-bottom: 0px; 
    border-radius: 6px;
    display: inline-block;
}

section > main > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}


/*Ads*/

.rightad{
    height: 1000px;
    width: 18.25%;
    background-color: rgb(75, 75, 216);
    float: left;
    border-radius: 8px;
    margin-top: 600px;
}

.rightad > p{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}

.rightad > img{
    width: 92.25%;
    margin: 10px;
    margin-bottom: 40px;
    display: inline-block;
    border-radius: 4px;
}

.leftad{
    height: 1000px;
    width: 18.25%;
    background-color: rgb(75, 75, 216);
    float: left;
    border-radius: 8px;
    margin-top: 600px;
}

