body{
    background-color: rgba(4, 4, 71, 0.795);
}

/*heading*/
.blue{
    background-color: rgb(75, 75, 216);
    height: 135px;
    width: 97.5%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;


}
#head{
    width: 80%;
    height: auto;
    float: left;
}
#pic{
    width: 20%;
    height: 101px;
    float: left;
}

h1{
    font-size: 60px;
    margin-left: 50%;
    margin-top: auto;
}

.blue > div > img{
    width: 80px;
    border-radius: 48.5%;
    float: right;
}
nav{
    background-color: cornflowerblue;
    width: 125%;
    display: flex;
    border-radius: 4px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 24px;
    flex: 1;
    text-align: center; 
    color: black;  
}
a:hover{
    color: rgb(204, 11, 162);
}

/*Main Story*/

main{
    background-color: cornflowerblue;
    width: 60%;
    margin: 20px;
    margin-top: 40px;
    border-radius: 8px;
    float: left;

}
section > main > h3{
    text-align: center;
    font-size: 24px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section > main > img{
    width: 75%;
    height: auto;
    margin: 10px 100px;
    margin-bottom: 0px; 
    border-radius: 6px;
    display: inline-block;
}

section > main > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}


/*Ads*/

.ad{
    height: 1000px;
    width: 18.25%;
    background-color: rgb(75, 75, 216);
    float: left;
    border-radius: 8px;
    margin-top: 700px;
}


.ad > h2{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}

.ad > img{
    width: 92.25%;
    margin: 10px;
    margin-bottom: 40px;
    display: inline-block;
    border-radius: 4px;
}

.right{
    float: right;
}
.left{
    float: left;
}

/*Articles*/

#articles{
    width: 60%;
    height: auto;
    display: inline-block;
    margin-left: 19.5%;
    position: relative;
    bottom:950px;
}

.story{
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
}
